* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: "Verdana";
  font-size: 2em;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
  margin: 30px;
}

img {
  width: 100%;}
/* Footer */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: grey;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.clearfix {
  clear: both;
}
